<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>
    <link rel="stylesheet" href="loginStyle.css" />
</head>
<body>
<div class="login-container">
    <h2>Вход в систему</h2>
    <form action="/login" method="post">
        <input type="text" name="login" placeholder="Логин" required />
        <input type="password" name="password" placeholder="Пароль" required />
        <button type="submit">Войти</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
    <p th:text="${error}"></p>

    <a href="/regist">Регистрация</a>

</div>
</body>
</html>
