<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/stylerrer.css}">
</head>
<body>
<div class="centered-container">
    <div class="main-wrapper">
        <h1 class="title">События</h1>

        <div style="max-height: 320px; overflow-y: auto;">
            <table class="product-table">

                <tbody>
                <tr th:each="taskDto : ${taskList}" th:onclick="'window.location=\'/mainPage/edit?id=' + ${taskDto.id} + '\';'">
                    <td th:text="${taskDto.category.getDescription()}"></td>
                    <td th:text="${taskDto.description}"></td>
                    <td th:text="${taskDto.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 class="form-title" th:text="${taskDto != null ? 'Редактировать' : 'Добавить'}">Добавить</h2>

        <form class="product-form" th:action="${taskDto != null} ? @{/mainPage/edit} : @{/mainPage}" method="post">
            <input type="hidden" name="id" th:value="${taskDto != null ? taskDto.id : ''}" />

            <label for="category">Категория:</label>
            <select name="category" id="category" required>
                <option value="DOCTOR" th:selected="${taskDto != null && taskDto.category == 'DOCTOR'}">Запись к врачу</option>
                <option value="FRIEND" th:selected="${taskDto != null && taskDto.category == 'FRIEND'}">Встреча с другом</option>
                <option value="BEAUTY" th:selected="${taskDto != null && taskDto.category == 'BEAUTY'}">Бьюти</option>
                <option value="EVENT" th:selected="${taskDto != null && taskDto.category == 'EVENT'}">Другое событие</option>
            </select>

            <label for="description">Описание:</label>
            <input type="text" name="description" id="description" th:value="${taskDto != null ? taskDto.description : ''}" required/>

            <label for="date">Запланированная дата:</label>
            <input type="date" name="date" id="date" th:value="${taskDto != null ? taskDto.date : ''}" required/>

            <div>
                <button class="custom-btn" type="submit" th:if="${taskDto == null}" >Добавить</button>

                <div th:if="${taskDto != null}">
                    <button class="save-btn" type="submit" th:if="${taskDto != null}">Сохранить</button>
                    <a class="cancel-btn" href="/mainPage">Отменить</a>
                    <button class="delete-btn" type="button" onclick="deleteTask()">Удалить</button>
                </div>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>

        <br/>

        <form action="/logout" method="post" th:action="@{/logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>
</body>
</html>
